// columns
@mixin columns($cols: 2) {
  ul {
    columns: $cols;
    -webkit-columns: $cols;
    -moz-columns: $cols;
    ul {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
  }
}

// transition
@mixin transition-all($duration: 1) {
  transition: all #{$duration}s ease;
  -moz-transition: all #{$duration}s ease;
  -webkit-transition: all #{$duration}s ease;
}

// Rotate
@mixin rotate($degrees) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);
  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}

// gradients
@mixin vertical-gradient($top, $bottom) {
  background: $top;
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
}

// Border Clip
@mixin background-clip($clip: border) {
  -moz-background-clip: $clip;     /* Firefox 3.6 */
  -webkit-background-clip: $clip;  /* Safari 4? Chrome 6? */
  background-clip: #{$clip}-box;
}

// Custom icon font
@mixin custom-font() {
  font-family: 'custom-icons'; // Change this to the name of your font.
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Shapes
@mixin arrow-up($size: 10px, $color: #000) {
  width: 0; 
  height: 0; 
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom-width: $size;
  border-bottom-style: solid;
  border-bottom-color: $color;
  display: inline-block;
}

@mixin arrow-down($size: 10px, $color: #000) {
  width: 0; 
  height: 0; 
  border-left: $size solid transparent;
  border-right: $size solid transparent;  
  border-top-width: $size;
  border-top-style: solid;
  border-top-color: $color;
  display: inline-block;
}

@mixin arrow-right($size: 10px, $color: #000) {
  width: 0; 
  height: 0; 
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left-width: $size;
  border-left-style: solid;
  border-left-color: $color;
  display: inline-block;
}

@mixin arrow-left($size: 10px, $color: #000) {
  width: 0; 
  height: 0; 
  border-top: $size solid transparent;
  border-bottom: $size solid transparent; 
  border-right-width: $size;
  border-right-style: solid;
  border-right-color: $color;
  display: inline-block;
}
