/**
 * @file layour.scss
 *   Since we always use a framework, the heavy lifting of arranging components
 *   is already done for you via the framework's grid system. Use this
 *   stylesheet for overrides to the framework. You can also define component
 *   or element padding and margins here along with padding and margins for
 *   page sections.
 */
@import "vars";
@import "mixins";
@import "compass/_compass.scss";

/**
 * Force an element to display as an inline block. Includes screen size
 * modifiers.
 */
.inline-block {
  display: inline-block !important;
}
.inline-block-sm {
  @media (min-width: 768px) {
    display: inline-block !important;
  }
}
.inline-block-md {
  @media (min-width: 992px) {
    display: inline-block !important;
  }
}
.inline-block-lg {
  @media (min-width: 1200px) {
    display: inline-block !important;
  }
}

/**
 * Expands the pull-right and pull-left classes to include screen size
 * modifiers. These modifier classes do not require (and should not include)
 * the base class that they are modifying. That is, just use
 * `.pull-left__md-up`; not `.pull-left .pull-left__md-up` together.
 */
.pull-left__lg-up {
  @media (min-width: 1200px) {
    float: left !important;
  }
}
.pull-left__md-up {
  @media (min-width: 992px) {
    float: left !important;
  }
}
.pull-left__sm-up {
  @media (min-width: 768px) {
    float: left !important;
  }
}
.pull-right__lg-up {
  @media (min-width: 1200px) {
    float: right !important;
  }
}
.pull-right__md-up {
  @media (min-width: 992px) {
    float: right !important;
  }
}
.pull-right__sm-up {
  @media (min-width: 768px) {
    float: right !important;
  }
}
